In [2]:
import geopandas as gpd
import numpy as np
import pandas as pd
import xarray as xr
from sympy.abc import lamda

In [70]:
province = gpd.read_file(
    r"C:\Users\MUICT\Desktop\STONES\NASA_data\tha_admbnda_adm1_rtsd_20190221.shp")
province = province.to_crs("EPSG:4326")
# 1. Load the Thailand shapefile

In [4]:
 # national boundary


for var in ['vap',]:
    temp_df = pd.DataFrame()
    for year in range(2002, 2024):
        try:
            ds = xr.open_dataset(f"pre_data/TerraClimate_{var}_{year}.nc")
        except:
            print(f"{var} No data available for year {year}")
            continue

        raster = ds[var]
        raster.rio.set_spatial_dims(x_dim="lon", y_dim="lat", inplace=True)
        raster.rio.write_crs("EPSG:4326", inplace=True)
        raster_thailand = raster.rio.clip(thailand.geometry, thailand.crs)
        df = raster_thailand.to_dataframe(name=var).reset_index()
        df = df.loc[df[var].notnull()].reset_index(drop=True)
        df_gdp = gpd.GeoDataFrame(
            df,
            geometry=gpd.points_from_xy(df["lon"], df["lat"]),
            crs="EPSG:4326"
        )

        # spatial join: assign each pixel to a province
        df_joined = gpd.sjoin(
            df_gdp,
            province[["ADM1_EN", "geometry"]],
            # how="inner",
            # predicate="within"
        )

        # province mean
        province_mean = (
            df_joined
            .groupby(["ADM1_EN",'time'])[var]
            .mean()
            .reset_index()
            .rename(columns={"ADM1_EN": "province", var: f"{var}"})
        )
        province_mean['month'] = province_mean['time'].dt.month
        province_mean['year'] = province_mean['time'].dt.year
        province_mean = province_mean.drop(columns=['time'])
        temp_df = pd.concat([temp_df, province_mean], axis=0)
    temp_df.to_csv(f'data/terraclimate_{var}_province_mean.csv', index=False)

vap No data available for year 2002
vap No data available for year 2011

In [73]:

for var in ['ppt',]:
    temp_df = pd.DataFrame()
    for year in [2024]:
        try:
            ds = xr.open_dataset(f"pre_data/TerraClimate_{var}_{year}.nc")
        except:
            print(f"{var} No data available for year {year}")
            continue

        raster = ds[var]
        raster.rio.set_spatial_dims(x_dim="lon", y_dim="lat", inplace=True)
        raster.rio.write_crs("EPSG:4326", inplace=True)
        raster_thailand = raster.rio.clip(thailand.geometry, thailand.crs)
        df = raster_thailand.to_dataframe(name=var).reset_index()
        df = df.loc[df[var].notnull()].reset_index(drop=True)
        df_gdp = gpd.GeoDataFrame(
            df,
            geometry=gpd.points_from_xy(df["lon"], df["lat"]),
            crs="EPSG:4326"
        )

        # spatial join: assign each pixel to a province
        df_joined = gpd.sjoin(
            df_gdp,
            province[["ADM1_EN", "geometry"]],
            # how="inner",
            # predicate="within"
        )

        # province mean
        province_mean = (
            df_joined
            .groupby(["ADM1_EN",'time'])[var]
            .mean()
            .reset_index()
            .rename(columns={"ADM1_EN": "province", var: f"{var}"})
        )
        province_mean['month'] = province_mean['time'].dt.month
        province_mean['year'] = province_mean['time'].dt.year
        province_mean = province_mean.drop(columns=['time'])
        temp_df = pd.concat([temp_df, province_mean], axis=0)
    temp_df.to_csv(f'data/terraclimate_{var}_province_mean_2024.csv', index=False)

In [75]:
for var in ['tmax','tmin','ppt',]:
    df = pd.read_csv(f'data/terraclimate_{var}_province_mean_2024.csv')
    df = df[['year','month','province',var]]
    df.to_csv(f'data/terraclimate_{var}_province_mean_2024.csv', index=False)

In [76]:
final_df = pd.read_csv(f'data/terraclimate_vap_province_mean.csv')
for var in ['tmax','tmin','ppt','soil','ws']:
    df_var = pd.read_csv(f'data/terraclimate_{var}_province_mean.csv')
    final_df = pd.merge(final_df, df_var, on=['province','month','year'], how='left')
final_df = final_df.rename(columns={
    'tmax':'TMAX',
    'tmin':'TMIN',
    'ppt':'PPT',
    'soil':'SOIL',
    'vap':'VAP',
    'ws':'WS',
})

In [80]:

# for var in ['tmax','tmin','ppt','soil','vap','vpd','ws']:
#     df = pd.read_csv(f'data/Final_data_province_mean_{var}.csv')
#     df = df[df['year']>=2003]
#     df.to_csv(f'data/Final_data_province_mean_{var}_2003onward.csv', index=False)
merged_df = pd.read_csv('data/Final_data_province_mean_ppt_2003onward.csv')
merged_df = merged_df.replace('Loburi','Lop Buri')
for var in ['tmax','tmin','soil','vap','vpd','ws']:
    df_var = pd.read_csv(f'data/Final_data_province_mean_{var}_2003onward.csv')
    df_var = df_var.replace('Loburi','Lop Buri')
    merged_df = pd.merge(merged_df, df_var, on=['province','month','year'], how='left')
merged_df['TAVG'] = (merged_df['tmax'] + merged_df['tmin']) /2
merged_df = merged_df.rename(columns={
    'tmax':'TMAX',
    'tmin':'TMIN',
    'ppt':'PPT',
    'soil':'SOIL',
    'vap':'VAP',
    'ws':'WS',
    'vpd':'VPD',
})
merged_df

,year,month,province,PPT,TMAX,TMIN,SOIL,VAP,VPD,WS,TAVG
0,2003,1,Amnat Charoen,0.117361,30.417500,16.233681,84.517708,1.747604,1.361509,1.975382,23.325590
1,2003,2,Amnat Charoen,30.798264,33.323403,19.535972,64.366319,2.110201,1.607610,1.118299,26.429688
2,2003,3,Amnat Charoen,50.106250,34.351285,22.163542,50.811806,2.210365,1.862704,1.683854,28.257413
3,2003,4,Amnat Charoen,63.870139,36.742951,24.875069,42.203819,2.726635,1.969497,1.506250,30.809010
4,2003,5,Amnat Charoen,219.253125,35.316979,25.015278,90.012500,3.026176,1.447736,1.561667,30.166128
...,...,...,...,...,...,...,...,...,...,...,...
20323,2024,8,Yasothon,149.879592,32.494388,25.045408,NaN,NaN,NaN,NaN,28.769898
20324,2024,9,Yasothon,268.469898,31.745918,24.327041,NaN,NaN,NaN,NaN,28.036480
20325,2024,10,Yasothon,74.651531,32.167347,22.931633,NaN,NaN,NaN,NaN,27.549490
20326,2024,11,Yasothon,9.287755,31.913265,20.434694,NaN,NaN,NaN,NaN,26.173980
20327,2024,12,Yasothon,0.100510,30.153061,17.501531,NaN,NaN,NaN,NaN,23.827296

In [82]:

merged_df= merged_df.sort_values(by=['province','year','month']).reset_index(drop=True)

for province in merged_df['province'].unique():
    province_df = merged_df[merged_df['province']==province]
    for i in province_df['year'].unique():
        print(province, i)


    break

Amnat Charoen 2003
Amnat Charoen 2004
Amnat Charoen 2005
Amnat Charoen 2006
Amnat Charoen 2007
Amnat Charoen 2008
Amnat Charoen 2009
Amnat Charoen 2010
Amnat Charoen 2011
Amnat Charoen 2012
Amnat Charoen 2013
Amnat Charoen 2014
Amnat Charoen 2015
Amnat Charoen 2016
Amnat Charoen 2017
Amnat Charoen 2018
Amnat Charoen 2019
Amnat Charoen 2020
Amnat Charoen 2021
Amnat Charoen 2022
Amnat Charoen 2023
Amnat Charoen 2024

In [96]:
def get_argmax_rolling_sum(df, column, window):
    rolling_sums = df[column].rolling(window=window).sum().shift(- (window - 1))
    argmax_index = rolling_sums.idxmax()
    return argmax_index, rolling_sums.loc[argmax_index]

province_df = merged_df[merged_df['province']=='Bangkok']

In [95]:
province_df['rolling_sum'] = province_df['PPT'].rolling(window = 3).sum().shift(-2)
province_df[['province','year','month','PPT','rolling_sum']]

C:\Users\MUICT\AppData\Local\Temp\ipykernel_34936\1389503011.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  province_df['rolling_sum'] = province_df['PPT'].rolling(window = 3).sum().shift(-2)

          province  year  month         PPT  rolling_sum
0    Amnat Charoen  2003      1    0.117361    81.021875
1    Amnat Charoen  2003      2   30.798264   144.774653
2    Amnat Charoen  2003      3   50.106250   333.229514
3    Amnat Charoen  2003      4   63.870139   486.148264
4    Amnat Charoen  2003      5  219.253125   595.898958
..             ...   ...    ...         ...          ...
259  Amnat Charoen  2024      8  158.130189   565.584906
260  Amnat Charoen  2024      9  314.900000   415.274214
261  Amnat Charoen  2024     10   92.554717   100.466038
262  Amnat Charoen  2024     11    7.819497          NaN
263  Amnat Charoen  2024     12    0.091824          NaN

[264 rows x 5 columns]

In [64]:
merged_df[['province','year','month','PPT','ppt_rolling_sum']]

            province  year  month         PPT  ppt_rolling_sum
0      Amnat Charoen  2003      1    0.117361              NaN
1      Amnat Charoen  2003      2   30.798264              NaN
2      Amnat Charoen  2003      3   50.106250        81.021875
3      Amnat Charoen  2003      4   63.870139       144.774653
4      Amnat Charoen  2003      5  219.253125       333.229514
...              ...   ...    ...         ...              ...
19399       Yasothon  2023      8  220.860714       698.935204
19400       Yasothon  2023      9  386.003061       865.257653
19401       Yasothon  2023     10  125.733673       732.597449
19402       Yasothon  2023     11    7.355612       519.092347
19403       Yasothon  2023     12    0.037245       133.126531

[19404 rows x 5 columns]